
/***** IMPORTS *****/
@import url('https://fonts.googleapis.com/css?family=Aladin|Ubuntu');


/***** ELEMENTS *****/
html {
     height: 100%;
     font-size: 1em;
}

body {
    font-family: 'Ubuntu', sans-serif;
     height: 100%;
}

h1, h2, h3 {
    font-family: 'Aladin', cursive;
}

.navbar-brand {
  font-family: 'Aladin', cursive;
  font-size: 1.75em;
}

.jumbotron {
  margin-top: 25px;
}

h4 {
    font-weight: bold;
}

h1 {
    text-shadow: 3px 3px 1px #888888;
}

h2 {
    border-bottom: solid darkgray 1px;
}

p {
    font-size: 1.25em;
    margin: 0px;
    margin-bottom: 10px;
}

footer {
  padding: 25px;
  color: white;
}

iframe {
	width: 400px;
	height: 225px;
	border: 0;
    box-shadow: 5px 5px 3px #888888;
	margin-bottom: 20px;
}

figure {
    margin-top: 10px;
    margin-bottom: 10px;
}

figure img {
    box-shadow: 5px 5px 3px #888888;
    margin-top: 5px;
}

figcaption {
    margin-top: 5px;
    text-align: center;
}

td {
  text-align: right;
  padding: 5px;
}


/***** CLASSES *****?

/* Remove the navbar's default margin-bottom and rounded borders - from original template */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.centered {
    margin: auto;
}

.noDecoration {
    padding-left: 0px;
    margin-left: 0px;
    list-style: none;
}
.noDecoration li {
    text-decoration: none;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 1.2em;
}

.cleanList li {
	display: grid;
	text-decoration: none;
}

.imgInline a {
    display: inline-block;
    text-align: center;
    margin: 2%;
}

.noBorder{
    border: none;
}

.wideVideo {
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 560px;
    height: 315px;
	max-width: 100%;
}

.blockquote {
    font-size: 0.9em;
}

.noFigure {
    margin-top: 15px;
    margin-bottom: 15px;
}

.col2 {
  text-align: left;
}

.textList {
  font-size: 1.2em;
}

/***** IDs *****/

/* Sticky footer styles */
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#accordion {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
}

#accordion h4 {
  font-size: 1.25em;
}

/***** MEDIA QUERIES *****/

@media(max-width:925px) and (min-width: 771px){
  .jumbotron {
    margin-top: 60px;
  }
}

@media(max-width:770px) and (min-width: 768px){
  .jumbotron {
    margin-top: 100px;
  }
}
/************************************/
